h1 {
	color: #FF0000;
}

p {
	color: #349A40;
}

#School_stuff a {
 color: #0036FF;
}

#Common a {
	color: #FF428E;
}

#Other_useful_stuff a {
	color: #FF9600;
}

#Fun a {
	color: #09C500;
}

#Temp a {
	color: #000000;
}

.return a {
	color: #FF00FF
}

.defaultLink {
	color: #0036FF;
}

#formMain table, th, td {
	border: none;
}

.line {
	color: #696969;
	border: 1px solid #696969;
}

h4 {
	color: #FF5500;
}

.dropdown button {
	background-color: #FF5500;
	color: #FFFFFF;
	border: 3px solid #171717;
	font-size: 16px;
}

.dropdown button:hover, .dropdown button:focus {
	background-color: #DD3300;
}

.dropdownContent button {
	background-color: #6f00ff;
	color: #FFFFFF;
	border: 3px solid #000000;
	font-size: 12px;
}

.dropdownContent button:hover{
	background-color: #3f00cf;
}

.dropdownContent button:focus {
	background-color: #0088ff;
	color: #000000;
}

#infoForm {
	border: none;
}